.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu,
.Quiz,
.EndScreen {
  width: 650px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* .Menu,
.Quiz {
  color: white;
} */

.clickOn:focus {
  color: limegreen;
  font: bold
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nextQuestion {
  width: 200px;
}

@media only screen and (max-width: 600px) {

  .App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Menu,
  .Quiz,
  .EndScreen {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin: 5px;
  }

  .Menu button,
  .Quiz button,
  .EndScreen button {
    width: 220px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  /* .Menu,
  .Quiz {
    color: white;
  } */

  .clickOn:focus {
    color: green;
    font-weight: 800;
    background-color: lightgray;
  }

  .options {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }

  #nextQuestion {
    width: 200px;
  }

}